.profile__edit-button {
    background-image: url("../../../images/Edit-Button.svg");
    width: 24px;
    height: 24px;
    transition: .5s;
    padding: 0;
    margin-top: 15px;
    margin-left: 18px;
    background-color: transparent;
    display: flex;
    border: none;
	outline: none;
}

@media screen and (max-width: 620px) {
    .profile__edit-button {
        width: 18px;
        height: 18px;
        margin-top: 8px;
        margin-left: 6px;
        background-image: url("../../../images/Edit-Button-Mobile.svg");
    }
}

.profile__edit-button:hover {
    opacity: .6;
    cursor: pointer;
}