.profile__author {
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    color: #FFFFFF;
    margin: 0;
    padding-right: 5px;
    padding-bottom: 6px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 400px;
}


@media screen and (max-width: 768px) {
    .profile__author {
        margin-left: 50px;
    }
}

@media screen and (max-width: 620px) {
    .profile__author {
        font-size: 27px;
        line-height: 33px;
        margin-left: 28px;
        max-width: 220px;
    }
}